@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #dce0e4;
}
a:hover {
  font-size: large;
  font-style: bold;
}
.container-form {
  background-color: #dce0e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.style-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.style-label {
  font-style: bold;
}
.style-input {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px gray;
}
.style-btn:hover {
  margin-left: 75%;
  margin-top: 15px;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  background-color: white;
  color: black;
}
.style-btn {
  margin-left: 75%;
  margin-top: 15px;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
